extends layout
block content
  h1= title
  - let devicesid = toShow._id
  - let devices_name = toShow.name
  - let devices_brand = toShow.brand
  - let devices_price = toShow.price
 
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{devicesid}
    
  - let actionid = "/resource/devices/" + devicesid
  form(id='devicesForm', action= actionid, method="PUT")
    div.form-group
      label.devicesAttr(for='name') Device name
      input#name(type='text', name='name', value= devices_name )
    div.form-group
      label.devicesAttr(for='brand') Device brand
      input#brand(type='text', name='brand', value= devices_brand )
    div.form-group
      label.devicesAttr(for='price') Device price
      input#price(type='number', name='price', value= devices_price )
    input(type="submit")
    
    script.
      document.forms['devicesForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });