body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.devicesAttr {
  background-color: aquamarine;
  width: 120px;
  }

#devicesForm {
    background-color: rgb(211, 205, 255);
    width: 300px;
    font-size: larger;
  }
  
  h1{
    color: yellow;
  }

  
